<form class="product-form" action="/add-product" method="POST">
    <div class="form-control">
        <label>name</label>
        <input type="text" name="name">
    </div>

    <div class="form-control">
        <label>category</label>
        <input type="text" name="category">
    </div>
    
    <div class="form-control">
        <label>Image</label>
        <input type="text" name="image">
    </div>
    <div class="form-control">
        <label>Price</label>
        <input type="number" name="price" step="0.01">
    </div>
    <div class="form-control">
        <label>id</label>
        <input type="text" name="id">
    </div>


    <button class="btn" type="submit">add</button>
</form>