<section id="page-header">

    <h2>#WELCOME TO THE BEST SHOP IN THE TOWN</h2>


</section>




<!-- categories -Start -->
<div class=" row row-cols-2 row-cols-lg-3 g-2 g-lg-3 py-4 border-bottom">

    <% if( categories != '' ) { %>
        <% categories.forEach(function(categories) { %>

            <a href="/categories/<%- categories.name %>" class="col text-center category__link">

                <div class="category__img shadow">
                    <img class="categoryimg" src="img/<%- categories.image %> " loading="lazy">
                </div>

                <% }) %>
            <% } %>

            </a>

</div>
<!-- categories -end -->



<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/img/features/f1.png" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="/img/features/f2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="/img/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="/img/features/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="/img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="/img/features/f6.png" alt="">
        <h6>F24/7 Support</h6>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span> </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>