


<section id="page-header">

    <h2>#WELCOME TO THE BEST SHOP IN THE CITY</h2>
  
  </section>
  
  

<!-- categories -Start -->
<section class=" row row-cols-2 row-cols-lg-3 g-2 g-lg-3 py-4  ">

    <% if( categories !='' ) { %>
        <% categories.forEach(function(categories) { %>

            <a href="/categories/<%- categories.name %>" class="col text-center">

                    <img class="Img" src="img/<%- categories.image %> " loading="lazy">

                <% }) %>
                    <% } %>

            </a>

</section>
<!-- categories -end -->




