<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mmm " >
  <% if(typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
    <% categoryById.forEach(function(Pn,index){ %>
    <div class="card " style="width: 20rem; margin-left: 15px;">
      <img class="card-img-top" src="/img/<%= Pn.image %>" alt="Card image cap">
      <div class="card-body">

        <div class="card-text mb-1"><%= Pn.name %></div>
        <div class="card-text mb-1">  מחיר : <%= Pn.price %> ש"ח</div>
        <div class="card-text mb-1">מקט : <%= Pn.id %></div>


        <a href="#" class="btn btn-primary">הוסף לעגלה  </a>

      </div>
    </div>
  





    <% }) %>

  
  <% } %>
