* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-image: url("");
  background-color: whitesmoke;
}


/* nav/header */
#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  margin-bottom: 10px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

}

.nav-link {
  color: #cce7d0;
  font-size: larger;

}


#page-header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../img/b1.jpg");
  background-size: cover;
  padding: 14px;
  margin-bottom: -10px;
}

#page-header h2,
#page-header p {
  color: rgb(224, 219, 219);
}




/* user-valitidion */
.user-message {
  margin: auto;
  width: 100%;
  border: 1px solid #4771fa;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}






/* generall */
.A{
  margin-left: 70px;
}

.B {
  
  margin-left: 10px;
}

.input {
  margin-left: 10px;
}

.Clean_Checkout {
  display: flex;
}




.Img {
  width: 610px;
}

.img_product {
  border: solid 2px rgba(49, 48, 48, 0.26);
}


.add_to_cart {
  float: right;
}

.icon {
  font-size: 20px;
}

.img {
  height: 50px;
}


.v1 {
  margin-left: 50px;
}





/* card-product */
#product1 {
  text-align: center;
  padding: 65px;
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: 23%;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  transition: .2s;
  position: relative;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  padding: 15px;
  background-color: whitesmoke
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 16px;
  transition: 0.2s;
  font-weight: bolder;
}

.des h5 {
  font-size: 100px;
}


#product1 .pro .des i {
  color: rgb(240, 177, 18);
  font-size: 12px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 17px;
  font-weight: 700;
  color: #088178;
}








/* cart */
#page-header-cart {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../img/banner.png");
  color: #088178;
}

#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* subtotal */
#subtotal h3 {
  padding-bottom: 15px;
}



#subtotal button {
  background: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

.carsuel {
  padding: 80px;
  text-align: -webkit-center;
  background-color: ghostwhite;
}